<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <!-- 命名空间 -->
    <typeAliases>
         
         <typeAlias alias="Page" type="com.hsq.sven.domain.base.Page"/> 
         <typeAlias alias="User" type="com.hsq.sven.domain.User"/> 
         
         <typeAlias alias="Blog" type="com.hsq.sven.domain.blog.Blog"/> 
         <typeAlias alias="BlogItem" type="com.hsq.sven.domain.blog.item.BlogItem"/> 
         <typeAlias alias="BlogCategoryStatistic" type="com.hsq.sven.domain.blog.BlogCategoryStatistic"/> 
         <typeAlias alias="BlogTag" type="com.hsq.sven.domain.blog.BlogTag"/> 
         <typeAlias alias="Category" type="com.hsq.sven.domain.blog.Category"/> 
         
         <typeAlias alias="Proxy" type="com.hsq.sven.domain.Proxy"/> 
         
         <typeAlias alias="Task" type="com.hsq.sven.domain.Task"/> 
         <typeAlias alias="Weibo" type="com.hsq.sven.domain.Weibo"/> 
    </typeAliases>
 
    <!-- 映射map -->
    <mappers>
    </mappers>
</configuration>