<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caipiao.dao.AdvertisingDao">

	<resultMap type="Advertising" id="Advertising_MAP">
		<id property="nid" column="nid" />
		<result property="url" column="url" />
		<result property="title" column="title" />
		<result property="picture" column="picture" />
		<result property="createTime" column="create_time" />
	</resultMap>
	
	<insert id="create" parameterType="Advertising" useGeneratedKeys="true" keyProperty="nid">
	   insert into
	   ad_advertising(url,title,picture,create_time)
	   values(#{url},#{title},#{picture},#{createTime})
	</insert>
	
	<select id="findById" parameterType="long" resultMap="Advertising_MAP">
		select *
		from ad_advertising
		where nid = #{nid}
		limit 1
	</select>

    <delete id="deleteById" parameterType="long">
        delete from ad_advertising
        where nid = #{nid}
    </delete>
    
    <update id="update" parameterType="Advertising">
        update ad_advertising
        set url = #{url},title = #{title},picture = #{picture},level = #{level}
        where nid = #{nid}
    </update>
    
    <!-- page:pageSize,conditon.lastId -->
    <select id="getPage" parameterType="Page" resultMap="Advertising_MAP">
        select *
        from ad_advertising
        where nid &gt; #{condition.lastId}
        order by nid asc
        limit #{pageSize}
    </select>
    
    <!-- page:pageSize,offset -->
    <select id="getPageByOffset" parameterType="Page" resultMap="Advertising_MAP">
        select *
        from ad_advertising
        order by nid asc
        limit #{offset},#{pageSize}
    </select>
    
    <select id="fingByUrl" parameterType="String" resultMap="Advertising_MAP">
        select * from ad_advertising
        where url = #{url}
        limit 1
    </select>
    
    <select id="getTotalNum" resultType="long">
        select count(*) from ad_advertising
    </select>

</mapper>