<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caipiao.dao.AppFeedbackDao">

	<resultMap type="AppFeedback" id="AppFeedback_MAP">
		<id property="nid" column="nid" />
		<result property="publishTime" column="publish_time" />
		<result property="device" column="device" />
		<result property="content" column="content" />
	</resultMap>
	
	<insert id="create" parameterType="AppFeedback" useGeneratedKeys="true" keyProperty="nid">
	   insert into
	   app_feedback(publish_time,device,content)
	   values(#{publishTime},#{device},#{content})
	</insert>
	
	<select id="findById" parameterType="long" resultMap="AppFeedback_MAP">
		select *
		from app_feedback
		where nid = #{nid}
		limit 1
	</select>

    <delete id="deleteById" parameterType="long">
        delete from app_feedback
        where nid = #{nid}
    </delete>
    
    <update id="update" parameterType="AppFeedback">
        update app_feedback
        set publish_time = #{publishTime},device = #{device},content = #{content}
        where nid = #{nid}
    </update>
    
    <select id="getTotalNum" resultType="long">
    select count(*)
    from app_feedback
    </select>

    <!-- page:offset,pageSize-->
    <select id="getPage" parameterType="Page" resultMap="AppFeedback_MAP">
        select *
        from app_feedback
        order by publish_time desc
        limit #{offset},#{pageSize}
    </select>
    
</mapper>