<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caipiao.dao.DltDao">

	<resultMap type="DltDetail" id="DLTDETAIL_MAP">
		<id property="nid" column="nid" />
		<result property="term" column="term" />
		<result property="openTime" column="open_time" />
		<result property="redOne" column="red_one" />
		<result property="redTwo" column="red_two" />
		<result property="redThree" column="red_three" />
		<result property="redFour" column="red_four" />
		<result property="redFive" column="red_five" />
		<result property="blueOne" column="blue_one" />
		<result property="blueTwo" column="blue_two" />
		<result property="sale" column="sale" />
		<result property="award" column="award" />
		
		<result property="oneBaseHitNumber" column="one_base_hit_number" />
		<result property="oneBaseHitAward" column="one_base_hit_award" />
		<result property="oneAddHitNumber" column="one_add_hit_number" />
		<result property="oneAddHitAward" column="one_add_hit_award" />
		
		<result property="twoBaseHitNumber" column="two_base_hit_number" />
		<result property="twoBaseHitAward" column="two_base_hit_award" />
		<result property="twoAddHitNumber" column="two_add_hit_number" />
		<result property="twoAddHitAward" column="two_add_hit_award" />
		
		<result property="threeBaseHitNumber" column="three_base_hit_number" />
		<result property="threeBaseHitAward" column="three_base_hit_award" />
		<result property="threeAddHitNumber" column="three_add_hit_number" />
		<result property="othreeAddHitAward" column="three_add_hit_award" />
		
		<result property="fourBaseHitNumber" column="four_base_hit_number" />
		<result property="fourBaseHitAward" column="four_base_hit_award" />
		<result property="fourAddHitNumber" column="four_add_hit_number" />
		<result property="fourAddHitAward" column="four_add_hit_award" />
		
		<result property="fiveBaseHitNumber" column="five_base_hit_number" />
		<result property="fiveBaseHitAward" column="five_base_hit_award" />
		<result property="fiveAddHitNumber" column="five_add_hit_number" />
		<result property="fiveAddHitAward" column="five_add_hit_award" />
		
		<result property="sixBaseHitNumber" column="six_base_hit_number" />
		<result property="sixBaseHitAward" column="six_base_hit_award" />
	</resultMap>
	
	<select id="getById" parameterType="long" resultMap="DLTDETAIL_MAP">
		select *
		from cai_dlt
		where nid = #{nid}
		limit 1
	</select>

	<select id="getLatest" resultMap="DLTDETAIL_MAP">
		select *
		from cai_dlt
		order by open_time desc
		limit 1
	</select>
	
	<!--page:pagesize,condition.lastTerm -->
	<select id="getPage" parameterType="Page" resultMap="DLTDETAIL_MAP">
		select * from cai_dlt
		where term &lt; #{condition.lastTerm}
		order by term desc
		limit #{pageSize}
	</select>

</mapper>