<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caipiao.dao.Fc3dDao">

	<resultMap type="Fc3dDetail" id="FC3DDETAIL_MAP">
		<id property="nid" column="nid" />
		<result property="term" column="term" />
		<result property="openTime" column="open_time" />
		<result property="one" column="one" />
		<result property="ten" column="ten" />
		<result property="hundred" column="hundred" />
		<result property="sale" column="sale" />
		
		<result property="zhisanHitNumner" column="zhisan_hit_number" />
		<result property="zhisanHitAward" column="zhisan_hit_award" />
		<result property="zusanHitNumner" column="zusan_hit_number" />
		<result property="zusanHitAward" column="zusan_hit_award" />
		<result property="zuliuHitNumner" column="zuliu_hit_number" />
		<result property="zuliuHitAward" column="zuliu_hit_award" />
		
	</resultMap>
	
	<select id="getById" parameterType="long" resultMap="FC3DDETAIL_MAP">
		select *
		from cai_fc3d
		where nid = #{nid}
		limit 1
	</select>

	<select id="getLatest" resultMap="FC3DDETAIL_MAP">
		select *
		from cai_fc3d
		order by open_time desc
		limit 1
	</select>
	
	<!--page:pagesize,condition.lastTerm -->
	<select id="getPage" parameterType="Page" resultMap="FC3DDETAIL_MAP">
		select * from cai_fc3d
		where term &lt; #{condition.lastTerm}
		order by term desc
		limit #{pageSize}
	</select>

</mapper>