<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caipiao.dao.SsqDao">

	<resultMap type="SsqDetail" id="SSQDETAIL_MAP">
		<id property="nid" column="nid" />
		<result property="term" column="term" />
		<result property="openTime" column="open_time" />
		<result property="redOne" column="red_one" />
		<result property="redTwo" column="red_two" />
		<result property="redThree" column="red_three" />
		<result property="redFour" column="red_four" />
		<result property="redFive" column="red_five" />
		<result property="redSix" column="red_six" />
		<result property="blue" column="blue" />
		<result property="sale" column="sale" />
		<result property="award" column="award" />
		
		<result property="oneHitNumber" column="one_hit_number" />
		<result property="oneHitAward" column="one_hit_award" />
		<result property="twoHitNumber" column="two_hit_number" />
		<result property="twoHitAward" column="two_hit_award" />
		
		<result property="threeHitNumber" column="three_hit_number" />
		<result property="threeHitAward" column="three_hit_award" />
		<result property="fourHitNumber" column="four_hit_number" />
		<result property="fourHitAward" column="four_hit_award" />
		
		<result property="fiveHitNumber" column="five_hit_number" />
		<result property="fiveHitAward" column="five_hit_award" />
		<result property="sixHitNumber" column="six_hit_number" />
		<result property="sixHitAward" column="six_hit_award" />
		
	</resultMap>
	
	<select id="getById" parameterType="long" resultMap="SSQDETAIL_MAP">
		select *
		from cai_ssq
		where nid = #{nid}
		limit 1
	</select>

	<select id="getLatest" resultMap="SSQDETAIL_MAP">
		select *
		from cai_ssq
		order by open_time desc
		limit 1
	</select>
	
	<!--page:pagesize,condition.lastTerm -->
	<select id="getPage" parameterType="Page" resultMap="SSQDETAIL_MAP">
		select * from cai_ssq
		where term &lt; #{condition.lastTerm}
		order by term desc
		limit #{pageSize}
	</select>

</mapper>