<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsq.sven.dao.UserDao">

	<resultMap type="User" id="USER_MAP">
		<id property="id" column="id" />
		<result property="createTime" column="create_time" />
		<result property="username" column="username" />
		<result property="email" column="email" />
		<result property="password" column="password" />
		<result property="emailAuth" column="email_auth" />
		<result property="salt" column="salt" />
	</resultMap>

	<insert id="create" parameterType="User" keyProperty="id"
		useGeneratedKeys="true">
		insert into
		u_user(create_time,username,email,password,email_auth,salt)
		values(#{createTime},#{username},#{email},#{password},#{emailAuth},#{salt})
	</insert>

	<select id="findUserByEmail" parameterType="String" resultMap="USER_MAP">
		select * from u_user
		where email = #{email}
		limit 1
	</select>

	<select id="findUserByUserName" parameterType="String"
		resultMap="USER_MAP">
		select * from u_user
		where username = #{username}
		limit 1
	</select>
	<select id="findById" parameterType="int" resultMap="USER_MAP">
		select *
		from u_user
		where id = #{id}
		limit 1
	</select>


	<update id="updateUsername" parameterType="User">
		update u_user
		set username = #{username},create_time = #{createTime}
		where id = #{id}
	</update>

	<update id="updatePassword" parameterType="User">
		update u_user
		set password = #{password},create_time = #{createTime}
		where id = #{id}
	</update>

	<update id="updateEmailAuth" parameterType="User">
		update u_user
		set email_auth = #{emailAuth},create_time = #{createTime}
		where id = #{id}
	</update>


	<delete id="deleteById" parameterType="int">
		delete from u_user
		where id = #{id}
	</delete>


</mapper>