<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caipiao.dao.WebsiteCommentDao">

	<resultMap type="WebsiteComment" id="WebsiteComment_MAP">
		<id property="nid" column="nid" />
		<result property="websiteId" column="website_id" />
		<result property="content" column="content" />
		<result property="username" column="username" />
		<result property="createTime" column="create_time" />
	</resultMap>
	
	<insert id="create" parameterType="WebsiteComment" useGeneratedKeys="true" keyProperty="nid">
	   insert into
	   ad_website_comment(website_id,content,username,create_time)
	   values(#{websiteId},#{content},#{username},#{createTime})
	</insert>
	
	<select id="findById" parameterType="long" resultMap="WebsiteComment_MAP">
		select *
		from ad_website_comment
		where nid = #{nid}
		limit 1
	</select>

    <delete id="deleteById" parameterType="long">
        delete from ad_website_comment
        where nid = #{nid}
    </delete>
    
    <update id="update" parameterType="WebsiteComment">
        update ad_website_comment
        set website_id = #{websiteId},content = #{content},time = #{time},username = #{username}
        where nid = #{nid}
    </update>
    
    <!-- page:pageSize,condition.websiteId,condition.lastTime -->
    <select id="getPage" parameterType="Page" resultMap="WebsiteComment_MAP">
        select * from ad_website_comment
        where website_id = #{condition.websiteId} and create_time &lt; #{condition.lastTime}
        order by create_time
        limit #{pageSize}
    </select>

    <select id="getAll" parameterType="long" resultMap="WebsiteComment_MAP">
        select * from ad_website_comment
        where website_id = #{websiteId}
        order by create_time desc
    </select>
</mapper>