<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caipiao.dao.ZixunDao">

	<resultMap type="ZixunDetail" id="ZIXUNDETAIL_MAP">
		<id property="nid" column="nid" />
		<result property="title" column="title" />
		<result property="summary" column="summary" />
		<result property="content" column="content" />
		<result property="publishTime" column="publish_time" />
		<result property="author" column="author" />
		<result property="url" column="url" />
		<result property="caipiaoType" column="caipiao_type" />
	</resultMap>
	
	<resultMap type="ZixunItem" id="ZIXUNITEM_MAP">
		<id property="nid" column="nid" />
		<result property="title" column="title" />
		<result property="summary" column="summary" />
		<result property="author" column="author" />
		<result property="publishTime" column="publish_time" />
		<result property="caipiaoType" column="caipiao_type" />
	</resultMap>

	<insert id="create" parameterType="ZixunDetail" keyProperty="nid"
		useGeneratedKeys="true">
		insert into
		cai_zixun(title,summary,content,publish_time,author,url,caipiao_type)
		values(#{title},#{summary},#{content},#{publishTime},#{author},#{url},#{caipiaoType})
	</insert>
	
	<update id="update" parameterType="ZixunDetail">
	    update cai_zixun
	    set title = #{title},summary = #{summary},content = #{content},
	    author = #{author},caipiao_type = #{caipiaoType}
	    where nid = #{nid}
	</update>

	<select id="getById" parameterType="long" resultMap="ZIXUNDETAIL_MAP">
		select *
		from cai_zixun
		where nid = #{zixunId}
		limit 1
	</select>

	<delete id="deleteById" parameterType="long">
		delete from cai_zixun
		where nid = #{nid}
	</delete>
	
	<select id="getZixunPageByType" parameterType="Page" resultMap="ZIXUNITEM_MAP">
		select * from cai_zixun
		where publish_time &lt; #{condition.lastTime} and caipiao_type = #{condition.caipiaoType}
		order by publish_time desc
		limit #{pageSize}
	</select>
	
	<select id="getPageByOffset" parameterType="Page" resultMap="ZIXUNITEM_MAP">
		select * from cai_zixun
		order by publish_time desc
		limit #{offset},#{pageSize}
	</select>
	
	<select id="getTotalNum" resultType="long">
	   select count(*) from cai_zixun
	</select>

</mapper>